log.txt
config.txt
activity_log.txt
sdl_controllers.txt
favourites.txt
_label.png
/backup/
/bbs/
/carts/demos
/carts/*.p8.png
/carts/pic_*.p8
freds72_daggers_pic_*.p8
/carts/*_mini.p8
/carts/*_mini.lua
/carts/index.html
/carts/daggers_*.js
*.zip
*.p8.png
/cdata/
/cstore/
*.bin
/.vscode/
__pycache__/
*.swp
*.swo
/.venv
*.blend1


